<form method="post" action="/teams/<%= team._id %>?_method=PATCH">
  <input type="hidden" name="_method" value="PATCH" />
  <% if (team.errors && team.errors.length > 0) { %>
  <div id="error_explanation">
    <h2><%= team.errors.length %> prohibited this team from being saved:</h2>

    <ul>
      <% team.errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }); %>
    </ul>
  </div>
  <% } %>

  <div class="field">
    <label for="name">Name</label><br />
    <input type="text" id="name" name="name" value="<%= team.name %>" />
  </div>
  <div class="field">
    <label for="shortName">Short name</label><br />
    <input
      type="text"
      id="shortName"
      name="shortName"
      value="<%= team.shortName %>"
    />
  </div>
  <div class="field">
    <label for="colour">Colour</label><br />
    <input type="text" id="colour" name="colour" value="<%= team.colour %>" />
  </div>
  <div class="field">
    <label for="score">Score</label><br />
    <input type="number" id="score" name="score" value="<%= team.score %>" />
  </div>
  <div class="actions">
    <input type="submit" value="Save" />
  </div>
</form>
