<%- include('../layouts/partials/header') %>

<h2>Listing Teams</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Tag</th>
      <th>Owned stations</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% teams.forEach(function(team) { %>
    <tr>
      <td><%= team.name %></td>
      <td><%= (team.score / 100.0).toFixed() %></td>
      <td><%= team.shortName %></td>
      <td><%= team.stations.join(',') %></td>
      <td><a href="/teams/<%= team._id %>">Show</a></td>
      <td><a href="/teams/<%= team._id %>/edit">Edit</a></td>
      <td>
        <form action="/teams/<%= team._id %>/reset?_method=PUT" method="POST">
          <input type="hidden" name="_method" value="PUT" />
          <input type="submit" value="Reset" />
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<br />
