<%- include("../layouts/partials/header") %>

<h2>Listing Stations</h2>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Owner</th>
      <th>Boost</th>
      <th>Active</th>
      <th>Lifesign</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% stations.forEach(station => { %>
    <tr>
      <td><%= station.location %></td>
      <td><%= station.team ? station.team.name : "Unclaimed" %></td>
      <td><%= station.boost %></td>
      <td>
        <% if (station.active()) { %>
        <span style="color: green">Active</span>
        <% } else { %>
        <span style="color: red">Inactive</span>
        <% } %>
      </td>
      <td><%= station.lifesign ? station.lifesign : "-" %></td>
      <td><a href="/stations/<%= station._id %>">Show</a></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<br />
