<%- include("../layouts/partials/header") %>

<h2>Listing Stations</h2>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Owner</th>
      <th>Boost</th>
      <th>Lifesign</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% stations.forEach(station => { %>
    <tr>
      <td><%= station.location %></td>
      <td><%= station.team ? station.team.name : "Unclaimed" %></td>
      <td><%= station.boost %></td>
      <td><%= station.latest_com ? station.latest_com : "-" %></td>
      <td><a href="/stations/<%= station._id %>">Show</a></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<br />
