<%- include('../layouts/partials/header') %>

<h2>Battle stats</h2>
<br />

<div>
  <% if (activeRound) { %>
  <h3>The game is on!</h3>
  <%= activeRound.remaining() %> left. <% } else { %>
  <h3>No game right now</h3>
  <% } %>
</div>
<br />

<div>
  <h3>Scoreboard</h3>
  <table>
    <tr>
      <th>Team</th>
      <th>Tag</th>
      <th>Score</th>
    </tr>
    <% teams.forEach(function(team) { %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.shortName %></td>
      <td><%= team.score %></td>
    </tr>
    <% }); %>
  </table>
</div>
<br />

<div>
  <h3>Field status</h3>
  <table>
    <tr>
      <th>Station</th>
      <th>Owner</th>
      <th>Boost</th>
    </tr>
    <% stations.forEach(function(station) { %>
    <tr>
      <td><%= station.location %></td>
      <td><%= station.team ? station.team.name : "Unclaimed" %></td>
      <td><%= station.boost %></td>
    </tr>
    <% }); %>
  </table>
</div>

<%- include('../layouts/partials/footer') %>
