<%- include('../layouts/partials/header') %>

<h2>Listing Rounds</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Remaining</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% rounds.forEach(round => { %>
    <tr>
      <td><%= round.name %></td>
      <td>
        <% if (round.active) { %>
        <span style="color: green">Active</span>
        <% } else { %>
        <span style="color: red">Inactive</span>
        <% } %>
      </td>
      <td><%= round.starttime %></td>
      <td><%= round.endtime %></td>
      <td><%= round.remaining %></td>
      <!-- TODO: Fix the remaining time function -->
      <td><a href="/rounds/<%= round._id %>">Show</a></td>
      <td><a href="/rounds/<%= round._id %>/edit">Edit</a></td>
      <td>
        <form action="/rounds/<%= round._id %>/reset" method="post">
          <input type="hidden" name="_method" value="put" />
          <input type="submit" value="Reset" />
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<br />

<form method="POST" action="/rounds">
  <label for="round_starttime">Start time</label><br />
  <input type="date" id="round_starttime" name="round.starttime" /><br />
  <input
    type="datetime-local"
    id="round_starttime_time"
    name="round.starttime"
    step="300"
    value="<%= new Date().toISOString().slice(0, -8) + '00:00' %>"
  /><br />
  <label for="round_length">Length</label>
  <input type="text" id="round_length" name="round.length" /><br />
  <label for="round_stations">Active stations:</label><br />

  <input type="submit" value="Submit" />
</form>

<a href="/rounds/new">New Round</a>
