<%- include('../layouts/partials/header') %>

<h2>Listing Rounds</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Remaining</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% rounds.forEach(round => { %>
    <tr>
      <td><%= round.name %></td>
      <td>
        <% if (round.active) { %>
        <span style="color: green">Active</span>
        <% } else { %>
        <span style="color: red">Inactive</span>
        <% } %>
      </td>
      <td><%= round.starttime %></td>
      <td><%= round.endtime %></td>
      <td><%= round.remaining() %></td>

      <td><a href="/rounds/<%= round._id %>">Show</a></td>
      <td><a href="/rounds/<%= round._id %>/edit">Edit</a></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<br />

<h2>Create a new round</h2>
<form method="POST" action="/rounds">
  <label for="name">Name</label><br />
  <input type="text" id="name" name="name" required /><br />
  <label for="starttime">Start time</label><br />
  <input
    type="datetime-local"
    id="starttime"
    name="starttime"
    required
    value="<%= new Date().toISOString().slice(0, -8) + '00:00' %>"
  /><br />
  <label for="endtime">End time</label><br />
  <input
    type="datetime-local"
    id="endtime"
    name="endtime"
    required
    value="<%= new Date().toISOString().slice(0, -8) + '00:00' %>"
  /><br />

  <input type="hidden" name="id" value="<%= rounds.length + 1 %>" />

  <input type="submit" value="Submit" />
</form>
