<%- include('../layouts/partials/header') %>
<p>
  <strong>Name:</strong>
  <%= round.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= round.active %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= round.starttime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= round.endtime %>
</p>


  <a href="/rounds/<%= round._id %>/edit">Edit</a>
  |
  <a href="/rounds">Back</a>
</table>
